@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CardTransfer";
}
@using (Html.BeginForm("CardTransfer", "Home", FormMethod.Post))
{
    <div class="TransferToCard">
        <p style="color: red;">@ViewBag.Error</p>
        <p>
            Ваш баланс на данный момент составляет:<br />
            <span>@ViewBag.Balance</span>₽
        </p>
        <form method="post" action="">
            <label for="cardNumber">Введите номер карты получателя</label>
            <input type="text" name="cardNumber" class="form-control" />
            <label for="transferVal">Введите сумму</label>
            <input type="number" name="transferVal" class="form-control" />
            <button class="btn btn-default" type="submit" style="margin-bottom: 20px;">Перевести</button>
        </form>
        <br />
        <button class="btn btn-default"><a href="../Home/UserInfo">Назад</a></button>
    </div>
}