@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CheckBalance";
}
<div class="CheckBalance">
    <p>Ваш баланс на данный момент составляет:<br />
    <span>@ViewBag.Balance</span>₽</p>
    <button class="btn btn-default"><a href="../Home/UserInfo">Назад</a></button>
</div>

